<div class="content">
  <div class="hr">
  </div>
  <div class="container-text">
    <div class="long-title">
      <p>被稱為行人地獄的臺灣，行人真的有路權嗎？</p>
    </div>
    <p class="text">
      當路況問題日益嚴重，為了自身的安全，臺灣人民在1000年後演化成完全不同的模樣在我們眼中他們也許是畸形，但隱藏在他們基因的是「畸行」。    </p>
  </div>
  <div class="container-text">
    <div class="title">
      <p>組員介紹</p>
    </div>
  </div>
  <div class="container-img">
    <div class="row">
      <div class="member">
        <img src="../../../assets/images/people1.png" alt="成員一">
        <p>李宗遠</p>
      </div>
      <div class="member">
        <img src="./../../assets/images/people4.png" alt="成員四">
        <p>范紫嫻</p>
      </div>
      <div class="member">
        <img src="./../../assets/images/people2.png" alt="成員二">
        <p>林宜禾</p>
      </div>
      <div class="member">
        <img src="./../../assets/images/people3.png" alt="成員三">
        <p>林靖軒</p>
      </div>
    </div>
    <div class="row">
      <div class="member">
        <img src="./../../assets/images/people7.png" alt="成員七">
        <p>劉宣妘</p>
      </div>
      <div class="member">
        <img src="./../../assets/images/people5.png" alt="成員五">
        <p>陳美宇</p>
      </div>
      <div class="member">
        <img src="./../../assets/images/people6.png" alt="成員六">
        <p>葉翔禎</p>
      </div>
    </div>
  </div>
</div>


