<div class="content">
  <div class="container">
    <div class="title">
      <p>世界觀</p>
    </div>
    <p class="text">
      3024年的台灣，隨著科技飛速進步，人類世界沉浸在機械奇觀之中，卻對行人的權益視而不見。道路變得如幻境一般扭曲，彷彿是異次元交會的邊緣。人們在狹窄的平面上穿梭，彷彿在時空裂縫中行走，而路面的落差猶如懸崖深淵，彷彿置身於一場惡夢中。
    </p>
    <p class="text">
      夢幻的未來都市中，人行道環境卻漸漸沒落，成為城市中被忽略的一環走在人行道上的人們，穿越在高樓大廈的陰影中，彷彿是時光中的遺落角色。這樣的環境悄悄地孕育著新人類的演化，他們在這混亂的都市中找到生存的方式，發展出足以跟艱鉅的行人環境共生的能力。
    </p>
    <p class="text">
      這是一個充滿挑戰的新世界<br/>
      讓我們重新思考人類與道路環境之間的關係。
    </p>
  </div>
  <div class="container">
    <div class="title">
      <p>NOWAY族</p>
    </div>
    <p class="text">
      遭遇變異產生身體構造變形的七位新人類——Noway族穿越了時空來到現代，四處張貼他們的形象，而他們自揭傷疤是為了拯救台灣的行人環境，避免全民踏上身體構造突變畸型的絕路。
    </p>
  </div>
</div>
