.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; // Center children horizontally
  margin: 0 auto; // Auto margins for horizontal centering
  width: 100%;
  background-image: url('../../../../assets/images/background.png');
  background-size: cover; /* 背景图片将被缩放以完全覆盖容器 */
  background-position: center; /* 将背景图片置中 */
  padding: 0;

  app-header{
    width: 100%;
    padding: 0;
  }
  app-footer{
    width: 100%;
    padding: 0;
  }
}
