.container {
  display: flex;
  flex-direction: column;
  height: 100vh; // full screen height, equivalent to Tailwind's h-screen
  justify-content: space-between;
  align-items: center; // Center children horizontally
  margin: 0 auto; // Auto margins for horizontal centering
  max-width: 1080px;
  width: 100%;
  background-color: gray;
  padding: 0;

  // Styling for <main>
  main {
    flex: 1; // equivalent to flex-1
    padding: 1.25rem; // equivalent to px-5
    margin-top: 5rem; // default margin-top 20, equivalent to mt-20

    @media (min-width: 640px) { // sm breakpoint
      margin-top: 6rem; // equivalent to sm:mt-24
    }

    @media (min-width: 768px) { // md breakpoint
      margin-top: 7rem; // equivalent to md:mt-28
    }

    // Centering main content
    .content {
      display: flex;
      justify-content: center;
      margin: 2.5rem 0; // equivalent to my-10
    }
  }
}
