.footer-bgc {
  display: flex;
  // justify-content: center;
  justify-content: space-between; /* 調整爲 space-between 以將子元素推到兩邊和中間 */
  align-items: center;
  width: 100%; /* 使用百分比而非固定像素值 */
  height: 60px;
  padding: 10px; /* 適當的內間距 */
  box-sizing: border-box; /* 防止 padding 影響最終寬度 */
  background-color: #00ff31;
}

.footer-text {
  flex: 0 1 auto; /* 能夠縮放且基於內容寬度，但不會填滿整個容器 */
  width: 263px;
}

.footer-icon {
  width: 40px; /* 根据需要调整 */
  height: auto; /* 保持图片比例 */
  .left{
    margin-left: 5px; /* 靠左對齊並留出一些間距 */
  }
  .righ{
    margin-right: 5px; /* 靠右對齊並留出一些間距 */
  }
}

/* 响应式设计 */
@media (max-width: 768px) {
  .footer-text {
    width: 197px;
  }
  .footer-icon {
    width: 30px; /* 在小屏幕上减小星星图片大小 */
  }
  .footer-bgc {
    height: 40px;
  }
}

@media (max-width: 480px) {
  .footer-text {
    width: 131px; /* 在更小屏幕上进一步减小星星图片大小 */
  }
  .footer-icon {
    width: 20px; /* 在小屏幕上减小星星图片大小 */
  }
  .footer-bgc {
    height: 35px;
  }
}
