.characters {
  overflow: hidden; // 防止圖片超出 div 範圍
}
.characters-img{
  object-position: top center; // 置中並靠上對齊
  display: block; // 移除圖片下方的空隙
}


.characters-bgc {
  height: 100%; // 或根據需要設置高度

  img {
    object-fit: contain; // 改為 contain 以避免裁剪重要內容
  }
}

// 媒體查詢針對手機和平板的設定
@media (max-width: 1080px) { // 處理平板和較大手機
  .characters-bgc {
    height: 95vh; // 減少高度以避免過度拉伸

    img {
      width: 100%;
      height: 100%;
      object-fit: contain; // 改為 contain 以避免裁剪重要內容
    }
  }
}

@media (max-width: 480px) { // 專門針對小屏手機
  .characters-bgc {
    height: 80vh; // 進一步調整高度以更適合小屏幕

    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down; // 適用於保持圖片原始尺寸的情況
    }
  }
}
